

.grid_poster{
    width: 16.88rem;
    height: 23.25rem;

    background-color: rgba(237, 237, 237, 0.57);
    margin-left: 2.063rem;
}

.grid_picture{
    width: 15.88rem;
    height: 18.13rem;

    margin-left: 0.5rem;


    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid_picture img{
    width:15.88rem;
    height:auto;
}

.grid_title{
    width:16.88rem;
    font-size:1.25rem;
    font-family: 'GmarketSans M';
    text-align: center;
}