.topbar{
    position:fixed;

    left:0;
    top:0;

    background-color: white;

    width: 120rem;
}

.topbar_wraper{
    float: right;
    orientation: vertical;
    
    margin-top: 3.75rem;
    margin-right: 12.5rem;
}
.topbar_login{
    float:right;
    clear: both;

    margin-bottom: 0.3125rem;
}
.topbar_nav{
    clear: both;
}

.sejong_logo{
    margin-left: 10.25rem;
    margin-top: 2.75rem;

    width: 16.38rem;
}