.topbar{
    background-color: white;

    width: 100vw;
}

.topbar_wraper{
    float: right;
    orientation: vertical;
    
    margin-top: 3.75rem;
    margin-right: 12.5rem;
}
.topbar_login{
    float:right;
    clear: both;

    margin-bottom: 0.3125rem;
}
.topbar_nav{
    clear: both;
}